/.vscode
/.DS_Store
/data/instruments/*
!data/instruments/README.md
/data/spectral_library/*
!data/spectral_library/README.md
/dist
/examples/.DS_Store
/notebooks/*
!notebooks/README.md
/projects/*
!projects/README.md
/src/.DS_Store
/tests/__pycache__
/src/sptk/__pycache__